<div class="post-header">
    <div class="post-cover">
        <img src="{{ site.url }}{{post.cover}}" alt="">
    </div>

    <div class="post-titles">
        <div class="post-title">{{ post.title }}</div>
        <div class="post-subtitle">{{ post.subtitle }}</div>
    </div>

    <div class="post-tags">
        <i class="fa fa-tags post-tags-icon"></i>
        {% for tag in post.tags %}
            <a href="#" class="post-tag"> {{ tag }} </a>
        {% endfor %}
    </div>

    <span class="post-date">{{ post.date|date('d F o') }}</span>
</div>

<div class="post-content">
    {{ post.blocks.content|raw }}
</div>

{% include 'disqus_comments.twig' %}